.navbar{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    z-index: 1;
    transition: background-color .5s ease-in-out;
    img{
        object-fit: contain;
    }
    img:first-child{
        width: 80px;
    }
    img:last-child{
        width: 30px;
    }
}
.nav__black{
    background-color: #111;
}